body {
  margin: 0px 0px;
  .login-root-view {
    .title {
      font-family: 'Ubuntu', sans-serif !important;
    }
    .content {
      font-family: 'Special Elite', cursive;
    }
  }
  #app {
    margin-right: 5px;
  }
}
