body {
  margin: 0px 0px; }
  body .login-root-view .title {
    font-family: 'Ubuntu', sans-serif !important; }
  body .login-root-view .content {
    font-family: 'Special Elite', cursive; }
  body #app {
    margin-right: 5px; }
